# Image Processing
Pillow==10.1.0

# Database
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# Google Pub/Sub
google-cloud-pubsub==2.18.4

# Utilities
python-dotenv==1.0.0

# Monitoring (Datadog)
ddtrace==2.3.0
datadog==0.48.0
wrapt>=1.15.0

# Testing
pytest==7.4.3

